
label {
display: inline-block;
width: 170px;
}

input[type=submit] {
    text-decoration: none;
    border: 0px;
    border-radius: 2px;
    background-color: rgba(10, 66, 187, 0.25);
    height: 20px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    color: rgb(21, 21, 53);
    font-size: 14px;
}

input{
    text-align: center;
}
input[type=text]:focus {
    border: 3px solid #555;
  }

  select {
    width: 15%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }